#toc {
  break-before: page;
  /*page: tableofcontents;*/
}

#preamble {
  break-before: page;
  page: preamble;
}

.sect1 {
  break-before: page;
}

#cover {
  break-after: unset;
}

@page tableofcontents {
  @bottom-right {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
  @bottom-left {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
}

@page preamble {
  @bottom-right {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
  @bottom-left {
    margin: 0;
    padding: 0;
    border: none;
    content: normal;
  }
}

.sect1:first-of-type {
  counter-reset: page;
}

